

<div class="container" *ngIf="!addformvisible &&  !editformVisible">
    <div class="row">  <div class="col-lg-12 text-end mt-3   "><span class="mb-2 me-5 text-success">{{obj.first_name}}  {{obj.last_name}}</span>  </div>
    <div class="col-lg-2">
        <h5>Role:</h5>
        <select class="form-select" [(ngModel)]="obj.role"  aria-label="Default select example" disabled>
      <option value="1">Add</option>
      <option value="2">Add/ Edit</option>
      <option value="3">All Access</option>
    </select></div></div>
    <div class="row mt-5">
        <div class="col-lg-12">
            <a  class="btn btn-info btn-lg float-end mb-3 btn-md"   *ngIf="adminValue &&  roleValue != 2 ||  !adminValue" (click)="ClickAdd()">Add</a>  
        </div>
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr >
                            <th scope="col"></th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Organisation</th>
                            <th scope="col">Manager</th>
                            <th scope="col">Gender</th>
                            <th scope="col">salary</th>
                            <th scope="col">Role</th>
                            <th scope="col" *ngIf="adminValue &&  roleValue != 1 ||  !adminValue"></th>
                            <th scope="col" *ngIf="adminValue &&  roleValue == 3 ||  !adminValue"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor=" let d of dataSource">
                            <th scope="row">{{d.id}}</th>
                            <td>{{d.first_name}}</td>
                            <td>{{d.last_name}}</td>
                            <td>{{d.organisation}}</td>
                            <td>{{d.manager_name}}</td>
                            <td>{{d.gender}}</td>
                            <td>{{d.salary}}</td>
                            <td ><span *ngIf="d.role == 1" > Add</span><span *ngIf="d.role == 2" > Add/Edit</span> <span *ngIf="d.role == 3" > All Access</span></td>
                            <td><button class="btn btn-info" *ngIf="adminValue &&  roleValue != 1 ||  !adminValue"   (click)="clickEdit( d)">Edit</button></td>
                            <td><button type="button" *ngIf="adminValue &&  roleValue == 3 ||  !adminValue" class="btn btn-danger" (click)=deleteAdmin(d.id)>Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
    
   
    
</div>
<div *ngIf="addformvisible && !editformVisible">
    <div class="container mt-3">
        <h4 class="text-dark my-3">Add Admin</h4>
          <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)"  >
            <div class="row">
              <div class="col-lg-6">
              <label for="first_name form-group">First Name  </label> <br>
              <input type="text" name="first_name" class="form-control" formControlName="first_name"   placeholder="Enter First Name" required/>
              <div class="text-danger" *ngIf="(addAdminFormControl.first_name.touched || submitted) && addAdminFormControl.first_name.errors ?.['required']">First name is required.</div>
              </div>
              <div class="col-lg-6">
                <label for="last_name">Last Name: </label><br>
                <input type="text" name="last_name" class="form-control"  formControlName="last_name"  placeholder="Enter Last Name" required/>
                <div class="text-danger" *ngIf="(addAdminFormControl.last_name.touched || submitted) && addAdminFormControl.last_name.errors ?.['required']">Last Name is required.</div>
              </div>
              <div class="col-lg-6">
                <label for="gender">Gender: </label>
                <div class="d-flex"><div class="form-check">
                  <input formControlName="gender" type="radio" class="form-check-input" id="radio1" name="gender" value="Male" checked>
                  <label class="form-check-label" for="radio1">Male</label>
                </div>
               <div class="form-check ms-2">
                  <input formControlName="gender" type="radio" class="form-check-input" id="radio2" name="gender" value="Female">
                  <label class="form-check-label" for="radio2">Female</label>
                </div>
              </div>
                </div>
                
              <div class="col-lg-6">
                <label for="organisation">Organisation: </label><br>
                <input type="text" name="organisation" class="form-control"  formControlName="organisation"  placeholder="Enter Organisation Name" required/>
                <div class="text-danger" *ngIf="(addAdminFormControl.organisation.touched || submitted) && addAdminFormControl.organisation.errors ?.['required']"> Oraganisation name is required.</div>
              </div>
              <div class="col-lg-6">
                  <label for="role">Admin Permission Role: </label><br>
                  <select class="form-select" name="role"  class="form-control form-control-sm" formControlName="role"  aria-label="Default select example">
                      <option value="1">Add Role</option>
                      <option value="2">Add/Edit Role</option>
                      <option value="3">Full Access</option>
                    </select>
                    <div class="text-danger" *ngIf="(addAdminFormControl.role.touched || submitted) && addAdminFormControl.role.errors ?.['required']"> Role is required.</div>
                </div>
              <div class="col-lg-6">
                <label for="manager_name">Manger Name: </label><br>
                <input type="text" name="manager_name" class="form-control"  formControlName="manager_name" placeholder="Enter Manager Name" required/>
                <div class="text-danger" *ngIf="(addAdminFormControl.manager_name.touched || submitted) && addAdminFormControl.manager_name.errors ?.['required']">Manager name is required.</div>
              </div>
              <div class="col-lg-6">
                <label for="EmpNo">Employee Number: </label><br>
                <input type="number" name="EmpNo" class="form-control" formControlName="EmpNo" placeholder="Enter Employee Number" required/>
                <div class="text-danger" *ngIf="(addAdminFormControl.EmpNo.touched || submitted) && addAdminFormControl.EmpNo.errors ?.['required']">Employee number is required.</div>
              </div>
              
              <div class="col-lg-6">
                <label for="salary">Salary: </label><br>
                <input type="number" name="salary" class="form-control" formControlName="salary" placeholder="Enter salary" required/>
                <div class="text-danger" *ngIf="(addAdminFormControl.salary.touched || submitted) && addAdminFormControl.salary.errors ?.['required']">salary is reuired.</div>
              </div>
              <div class="col-lg-12">
                <button  type="= submit"  class="btn btn-outline-info mt-3" >Submit</button>
                <button  type="= button" (click)="addBack()" class="btn btn-outline-info ms-2 mt-3" >Back</button>
              </div>
             
            </div>
               
          </form>
        
        </div>
</div>

<div class="container mt-3" *ngIf="editformVisible && !addformvisible">
    <h4 class="text-dark my-3">Update Admin</h4>
      <form [formGroup]="editAdminForm" (ngSubmit)="onEditSubmit(editAdminForm)"  novalidate>
        <div class="row">
          <div class="col-lg-6">
          <label for="first_name form-group">First Name  </label> <br>
          <input type="text" name="first_name" class="form-control" formControlName="first_name"   placeholder="Enter First Name" required/>
          <div class="text-danger" *ngIf="(adminFormControls.first_name.touched || submitted) && adminFormControls.first_name.errors ?.['required']">First name is required.</div>
          </div>
          <div class="col-lg-6">
            <label for="last_name">Last Name: </label><br>
            <input type="text" name="last_name" class="form-control"  formControlName="last_name"  placeholder="Enter Last Name" required/>
            <div class="text-danger" *ngIf="(adminFormControls.last_name.touched || submitted) && adminFormControls.last_name.errors ?.['required']">Last Name is required.</div>
          </div>
          <div class="col-lg-6">
            <label for="gender">Gender: </label>
            <div class="d-flex"><div class="form-check">
              <input formControlName="gender" type="radio" class="form-check-input" id="radio1" name="gender" value="Male" checked>
              <label class="form-check-label" for="radio1">Male</label>
            </div>
           <div class="form-check ms-2">
              <input formControlName="gender" type="radio" class="form-check-input" id="radio2" name="gender" value="Female">
              <label class="form-check-label" for="radio2">Female</label>
            </div>
          </div>
            </div>
            
          <div class="col-lg-6">
            <label for="organisation">Organisation: </label><br>
            <input type="text" name="organisation" class="form-control"  formControlName="organisation"  placeholder="Enter Organisation Name" required/>
            <div class="text-danger" *ngIf="(adminFormControls.organisation.touched || submitted) && adminFormControls.organisation.errors ?.['required']"> Oraganisation name is required.</div>
          </div>
          <div class="col-lg-6">
              <label for="role">Admin Permission Role: </label><br>
              <select class="form-select" name="role"  class="form-control form-control-sm" formControlName="role"  aria-label="Default select example">
                  <option value="1">Add Role</option>
                  <option value="2">Add/Edit Role</option>
                  <option value="3">Full Access</option>
                </select>
                <div class="text-danger" *ngIf="(adminFormControls.role.touched || submitted) && adminFormControls.role.errors ?.['required']"> Role is required.</div>
            </div>
          <div class="col-lg-6">
            <label for="manager_name">Manger Name: </label><br>
            <input type="text" name="manager_name" class="form-control"  formControlName="manager_name" placeholder="Enter Manager Name" required/>
            <div class="text-danger" *ngIf="(adminFormControls.manager_name.touched || submitted) && adminFormControls.manager_name.errors ?.['required']">Manager name is required.</div>
          </div>
          <div class="col-lg-6">
            <label for="EmpNo">Employee Number: </label><br>
            <input type="number" name="EmpNo" class="form-control" formControlName="EmpNo" placeholder="Enter Employee Number" required/>
            <div class="text-danger" *ngIf="(adminFormControls.EmpNo.touched || submitted) && adminFormControls.EmpNo.errors ?.['required']">Employee number is required.</div>
          </div>
          
          <div class="col-lg-6">
            <label for="salary">Salary: </label><br>
            <input type="number" name="salary" class="form-control" formControlName="salary" placeholder="Enter salary" required/>
            <div class="text-danger" *ngIf="(adminFormControls.salary.touched || submitted) && adminFormControls.salary.errors ?.['required']">salary is reuired.</div>
          </div>
          <div class="col-lg-12">
            <button  type="= submit"  class="btn btn-outline-info mt-3" >Submit</button>
            <button  type="button" (click) ="EditBack() "  class="btn btn-outline-info mt-3 ms-2" >Back</button>
          </div>
         
        </div>
           
      </form>
    
    </div>
    


    
